{% load menu_extras %}

{% if menu_tree_dict|get:parent|length > 0 %}
  <ul>
    {% for item in menu_tree_dict|get:parent %}
      <li>
        <a href="{% url 'menu_items:menu_item' menu_item_id=item.id %}">
          {% if item.id == selected_item_id %}
            <i><span style='color: blue;'>{{ item.name }}</span></i>
          {% else %}
            {{ item }}
          {% endif %}
        </a>
          {% with parent=item.id %}
            {% include 'menu_tree.html' %}
          {% endwith %}
      </li>
    {% endfor %}
  </ul>
{% endif %}